.App {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
}

.search-bar {
  width: 25%;
  border: none;
  padding: 10px;
}

.search-button {
  background: #6654F1;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: grid;
  justify-content: space-around;
}

.recipes ol{
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .recipes {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}